* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.app {
  padding: 30px;
  height: 100vh;
  background-color: orange;
}

.container {
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0px 9px 16px 4px rgba(0,0,0,0.72);
}

.btn {
  display: inline-block;
  border: none;
  background-color: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 1rem;
  width: 20%;
}

.btn:hover {
  background: #666;
}

.main-heading {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

form {
  display: flex;
}

form input {
  margin-bottom: 10px;
}

.placeholder-input {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.todo {
  background-color: #f4f4f4;
  padding: 15px;
  border-bottom: 1px #ccc dotted;
  text-decoration: none;
}

.todo-cont {
  overflow-y: auto;
  max-height: 60vh;
}

.todo p {
  display: flex;
  align-items: center;
}

.todo p input {
  margin-right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.todo p button {
  margin-left: auto;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.todo p button:hover {
  background-color: red;
  color: #fff;
  border: 1px solid red;
  border-radius: 2px;
}

.span-complete {
  text-decoration: line-through;
}

.clear {
  border-radius: 5px;
  display: block;
  margin: 10px auto 0px auto;
  padding: 10px;
}
